section#cart_items {
  padding-inline: clamp(2rem, 5vw, 7rem);
  display: grid;
  grid-template-columns: 61% 39%;
  column-gap: 2rem;
}
section#cart_items .items-list h2.items-title {
  color: #d7d8d7;
  margin-bottom: 2.5rem;
}
section#cart_items .items-list .item-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 5vw;
}
section#cart_items .items-list .item-container .item-img {
  height: max-content;
  width: 100%;
  margin-right: 2rem;
  border-radius: 5px;
}
section#cart_items .items-list .item-container .item-img img {
  width: 100%;
  border-radius: 5px;
}
section#cart_items .items-list .item-container .item-details {
  margin-left: 2vw;
}
section#cart_items .items-list .item-container .item-details p,
section#cart_items .items-list .item-container .item-details button {
  font-size: clamp(1.4rem, 2vw, 1.6rem);
  color: #f1f1f1;
}
section#cart_items .items-list .item-container .item-details a.item-title {
  font-family: "FiraSans-Medium";
  font-size: clamp(1.4rem, 2vw, 1.6rem);
  text-align: left;
  color: #fff;
  margin-top: 0;
}
section#cart_items .items-list .item-container .item-details p.item-platform {
  margin-top: 2rem;
  text-align: left;
}
section#cart_items .items-list .item-container .item-details p.item-edition {
  margin-top: 0;
}
section#cart_items .items-list .item-container .item-details p.item-condition {
  margin-top: 0;
}
section#cart_items .items-list .item-container .item-details p.item-quantity {
  margin-block: 0 2rem;
}

section#cart_items .items-list .item-container .item-details .flex-qty-remove {
  display: flex;
  align-items: baseline;
  margin-bottom: 1.5rem;
}
section#cart_items
  .items-list
  .item-container
  .item-details
  .flex-qty-remove
  label.qty-label {
  margin-bottom: 0;
  margin-right: 2rem;
  font-size: clamp(1.4rem, 2vw, 1.6rem);
}
section#cart_items
  .items-list
  .item-container
  .item-details
  .flex-qty-remove
  .btn-remove
  button.remove-btn {
  font-family: "Lato-Regular";
  font-weight: 100;
  border: none;
  padding: 0;
  text-transform: capitalize;
  color: crimson;
  text-decoration: underline;
}
section#cart_items
  .items-list
  .item-container
  .item-details
  .flex-qty-remove
  .btn-remove
  button.remove-btn:hover {
  background-color: transparent;
  color: crimson;
}
section#cart_items .items-list .item-container .item-details select {
  font-family: "FiraSans-Medium", sans-serif;
  font-size: 1.5rem;
  color: #f9f6f2;
  background-color: #262626;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: transparent;
  padding: 8px 20px;
  cursor: pointer;
  transition: all 0.5s;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50,50" style="%2331343a;"  /></svg>');
  background-position: right 5px top 50%;
  background-repeat: no-repeat;
  background-size: 10px;
  padding-right: 30px;
}
section#cart_items .items-list .item-container .item-details select:focus {
  outline: none;
}
section#cart_items .items-list .item-container .item-details select option {
  color: #fff;
}
section#cart_items
  .items-list
  .item-container
  .item-price-container
  h4.item-price {
  text-align: center;
  color: #20b830;
  font-size: clamp(1.65rem, 3vw, 2.2rem);
  margin-top: -3px;
}
section#cart_items .order-summary {
  background-color: #0d0d0d;
  border-radius: 5px;
  height: max-content;
}
section#cart_items .order-summary .summary-card {
  padding-inline: 2rem;
}
section#cart_items .order-summary .summary-card h4.summary-title {
  margin-block: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  color: #d7d8d7;
}
section#cart_items .order-summary .summary-card p.subtotal,
section#cart_items .order-summary .summary-card p.subtotal-amt,
section#cart_items .order-summary .summary-card p.delivery,
section#cart_items .order-summary .summary-card p.delivery-amt,
section#cart_items .order-summary .summary-card p.tax,
section#cart_items .order-summary .summary-card p.tax-amt,
section#cart_items .order-summary .summary-card p.total,
section#cart_items .order-summary .summary-card p.total-amt {
  font-size: clamp(1.4rem, 2vw, 1.6rem);
  color: #d7d8d7;
}
section#cart_items .order-summary .summary-card p.subtotal,
section#cart_items .order-summary .summary-card p.subtotal-amt {
  margin-top: 0;
}
section#cart_items .order-summary .summary-card .summary-subtotal-flex,
section#cart_items .order-summary .summary-card .summary-delivery-flex,
section#cart_items .order-summary .summary-card .summary-tax-flex {
  display: flex;
  justify-content: space-between;
}
section#cart_items .order-summary .summary-card p.delivery-amt {
  color: #20b830;
  font-family: "Lato-Bold";
}
section#cart_items .order-summary .summary-card hr {
  color: #202020;
}
section#cart_items .order-summary .summary-card .summary-total-flex {
  display: flex;
  justify-content: space-between;
}
section#cart_items .order-summary .summary-card .summary-total-flex p.total,
section#cart_items
  .order-summary
  .summary-card
  .summary-total-flex
  p.total-amt {
  font-family: "Lato-Bold";
  margin-top: 0;
}
section#cart_items .order-summary .summary-card .summary-btn button {
  margin-block: 2.5rem;
  width: 100%;
  background-color: #20b830;
  border: none;
  text-transform: uppercase;
}
section#cart_items .order-summary .summary-card .summary-btn button:hover {
  color: #fff;
  box-shadow: 0px 0px 45px rgba(32, 184, 48, 0.25);
}

@media screen and (max-width: 768px) {
  section#cart_items {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
  section#cart_items
    .items-list
    .item-container
    .item-price-container
    h4.item-price {
    text-align: right;
  }
}

@media screen and (max-width: 440px) {
  section#cart_items {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
  section#cart_items .items-list .item-container {
    grid-template-columns: 65% 35%;
    row-gap: 1.8rem;
  }
  section#cart_items .items-list .item-container .item-details {
    grid-row: 2/3;
    margin-left: 0;
  }
  section#cart_items .items-list .item-container .item-details select {
    font-size: 1.3rem;
    padding: 8px 13px;
    padding-right: 20px;
  }
  section#cart_items .items-list .item-container .item-price-container {
    grid-column: 2/3;
  }
  section#cart_items .order-summary {
    margin-top: 3.5rem;
  }
}

@media screen and (min-width: 930px) {
  .order-summary {
    max-width: 33rem;
  }
}
